.chat {
    display: flex;
    flex-direction: column;
    flex: 0.75;
}

.chat__header {
    display: flex;
    padding: 15px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerInfo > p {
    color: gray;
}

.chat__body {
    flex: 1;
    background-image: url("https://i.imgur.com/TnNwdvV.png");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow-y: auto;
}

.chat__body::-webkit-scrollbar {
    width: 7px;
}

.chat__body::-webkit-scrollbar-track {
    background: #ecf0f1; 
}

.chat__body::-webkit-scrollbar-thumb {
    background: #E0E0E0; 
    /* border: 1px solid rgb(0,0,0); */
}
      
.chat__body::-webkit-scrollbar-thumb:hover {
    background: #bdc3c7; 
}

.chat__message {
    position: relative;
    font-size: 15px;
    padding: 7px;
    width: fit-content;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.chat__timestamp {
    margin-left: 10px;
    font-size: xx-small;
}

.chat__name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: 12px;
}

.chat__receiver {
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat__footer > form {
    flex: 1;
    display: flex;
}

.chat__footer > form > input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
}

.chat__footer > form > button {
    display: none;
}

.chat__footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}